.main-container {
    display: flex;
}

.hidden {
    display: none;
}

.sidebar div {
    padding: 15px;
    font-size: 24px;
}

.main-area {
    background-color: antiquewhite;
    height: 100%;
    width: auto;
    flex: 1;
    color: white;
    text-align: center;
}

.all-chats {
    background-color: antiquewhite;
    height: 100%;
    width: auto;
    flex: 1;
    color: rgb(9, 9, 9);
}

.individual-chat {
    background-color: rgb(206, 178, 142);
    height: 10%;
    width: auto;
    flex: 1;
    display: flex;
    color: black;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
}

.chat-image {
    height: 180px;
}

.chat-titles {
    padding-left: 50px;
    width: 20%;
    text-align: left;
    flex: 1;
}

.last-message {
    width: auto;
    text-align: right;
    color: rgb(180, 168, 168);
    flex: 2;
}

.last-message h4 {
    padding-right: 50px;
}

a {
    color: white;
    text-decoration: none;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: antiquewhite;
}