.main-container {
    display: flex;
}

.hidden {
    display: none;
}

.sidebar div {
    padding: 15px;
    font-size: 24px;
}

.main-area {
    background-color: black;
    height: 100%;
    width: auto;
    flex: 1;
    color: white;
    text-align: center;
}

.all-chats {
    background-color: black;
    height: 100%;
    width: auto;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
}

.individual-chat {
    background-color: #111418;
    height: 10%;
    flex: 1;
    display: flex;
    color: white;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    border: double 1em transparent;
    border-radius: 1.15rem;
    border-width: 0px;
    background-image: linear-gradient(#111418, #111418), 
                    linear-gradient(to right, #fc2776, #ff6630);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.chat-image {
    height: 180px;
    border-radius: .75rem;
}

.chat-titles {
    padding: 10px;
    width: 20%;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.last-message {
    width: auto;
    text-align: right;
    color: rgb(180, 168, 168);
    flex: 2;
}

.last-message h4 {
    padding-right: 50px;
}

a {
    color: white;
    text-decoration: none;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
}