.main-container {
    display: flex,
}

.main-area {
    background-color: black;
    min-height: 88vh;
    width: 100%;
    flex: 1;
    color: white;
    text-align: center;
}

.chat-container {
    overflow-y: auto;
    height: 60vh;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.sent-message {
    align-self: flex-end;
    background-color: #106bd5;
    display: flex;
    margin: 10px;
    padding: 3px;
    justify-content: right;
    align-items: center;
    border-radius: 100px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    max-width: fit-content;
}

.sent-message p {
    margin-left: 20px;
    margin-right: 20px;
}

.received-message {
    align-self: flex-start;
    background-color: #21262e;
    display: flex;
    margin: 10px;
    padding: 3px;
    justify-content: left;
    align-items: center;
    max-width: fit-content;
    border-radius: 100px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
}

.received-message p {
    margin-left: 20px;
    margin-right: 20px;
}

.chat-user {
    padding-right: 8px;
}

.create-message-div {
    display: flex;
    background-color: #21262e;
    justify-content: right;
    flex: 0;
    color: white;
}

.send-message-btn {
    cursor: pointer;
    background-color: #21262e;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.new-message {
    flex: 3;
    background-color: black;
    border-style:double;
    border-width:5px;
    color: white;
    border-radius:100px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.details-div {
    color: white;
}

.chair-details h3 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
}