.main-container {
    display: flex;
}

.spacer {
    font-size: 36px;
}

.profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile-name {
    font-size: 2em;
    margin-top: 0;
    align-content: center;
}

.login-label {
    font-size: 1.2em;
    margin-right: 10px;
    color: white;
}

.input-text {
    width: 250px;
    height: 25px;
    border-style:double;
    border-width:5px;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
    font-size: 16px;
    text-shadow: 1px 1px 1px slategray;
}
.button {
    background-color: black;
    color:white;
    padding: 5px 10px;
    border-color: white;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px;
} 

.user-info-box {
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: antiquewhite;
}