.main-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.header {
    width: 100%;
    text-align: center;
    color:antiquewhite;
    background-color: saddlebrown;
    left:2px;
}

.header h1 {
    color:antiquewhite;
}

.profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile-name {
    font-size: 2em;
    margin-top: 0;
    align-content: center;
}

.profile-description {
    font-size: 1.2em;
    color: white;
    justify-content: center;
    text-align: center;
}

.input-text {
    width: 250px;
    height: 25px;
    border-color: #C6A74A;
    border-style:double;
    border-width:5px;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
    font-size: 16px;
    text-shadow: 1px 1px 1px slategray;
}

.button {
    background-color: antiquewhite;
    color:black;
    text-shadow: 1px 1px 1px slategray;
    padding: 5px 10px;
    border-top-color: red;
    border-left-color: red;
    border-bottom-color: darkred;
    border-right-color: darkred;
    cursor: pointer;
} 
.button:hover {
    background-color:peachpuff;
}

.user-info-box {
    display: flexbox;
    border-style:groove;
    border-color: darkred;
    border-width: 5px;
    box-shadow: 2px;
    border-radius: 50px;
    background-color: saddlebrown;
    width: 500px;
    padding: 25px;
    margin: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    position:relative;
    top: 20%;
    justify-content: center;
    text-align: center;
}

.change-info-box {
    display: static;
    border-style:groove;
    border-color: darkred;
    border-width: 5px;
    background-color: saddlebrown;
    padding: 25px;
    margin: 20px;
    box-shadow: 2px;
    border-radius: 50px;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    position:relative;
    top: -58px;
    left: 200px;
    justify-content: center;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: antiquewhite;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 33, 11);
    color: white;
    text-shadow: 1px 1px 1px #C6A74A;
    border-radius: 2px;
    border-color: black;
    text-align: left;
    height: 100vh;
}

.hidden {
    display: none;
}

.sidebar div {
    padding: 15px;
    font-size: 24px;
}